@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Parisienne&family=Playball&family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: Inter;
}

header {
    margin: 0 auto;
    max-width: 1440px;
    /* background: linear-gradient(50deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
    /* border: 2px solid red; */
}

/* section {
    margin-top: 100px;
} */


/* common style  */
.btn {
    width: 145px;
    height: 54px;
    font-size: 1.2rem;
    padding: 16px 40px;
    text-decoration: none;
    border-radius: 42px;
    color: white;
}

.primary-btn {
    background-color: #E6533C;

}

.secondary-btn {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    margin-left: 20px;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px auto;
    width: 80vw;
    height: 46px;
    /* border: 2px solid green; */
}

.navbar .menubar-icon {
    color: white
}

.navul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.navul li {
    list-style: none;
    padding: 5px;
    margin-right: 20px;

}

.navul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}


.logo-name {
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
}

.home-nav {
    background-color: rgb(230, 83, 60);
}

.menubar-icon {
    display: none;
}


.hero-section-containern {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
    margin: 0 auto;
    width: 80vw;

}

.hero-content {
    width: 344px;

}

.hero-title {
    font-size: 4.5rem;
    font-weight: 900;
    width: 520px;
    height: 282px;
}

.hero-span-word {
    font-family: Parisienne;
}

.hero-desc {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}



.hero-button-container {
    margin-top: 30px;
}

.hero-image-container {
    position: relative;
    /* border: 2px solid red; */
}



.hero-box1,
.hero-box2 {
    position: absolute;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.hero-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 185px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    top: 12%;
    right: -10%;
}

.hero-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 71%;
    right: 50%;
}

.box1-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: 16px;
}

.box1-desc {
    margin-left: 16px;
}

.box1-desc,
.box2-desc {
    color: rgba(255, 255, 255, 0.65);
}

.box2-title {
    font-size: 1.5rem;
}



.box2-circle {
    background-color: #E6533C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.habits-container {
    margin: 0 auto;
    width: 80vw;
    margin-top: 100px;
    /* border: 2px solid red; */
}

.habit-title-box {
    text-align: center;
    /* width: 90vw; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;

}

.habit-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: .85rem;
    font-weight: 400;
}

.habit-card-container {
    /* text-align: center; */
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.habit-card-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid gold; */
    width: 231px;
    height: 274px;
}

.habit-card-image img {
    border-radius: 50%;
}


/* .habit-card-details-container {
    border: 2px solid rebeccapurple;
} */


.habit-card-title {
    margin: 10px;
    font-size: 1.13rem;
    font-weight: 600;
}

.habit-card-subtitle {
    font-size: .88rem;
    color: rgba(255, 255, 255, 0.5);
}

.run-section-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    /* border: 2px solid red; */
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
}

.run-text-content {
    /* width: 50%; */
    height: 290px;
}


.run-btn {
    margin-top: 40px;
}

.run-title {
    font-size: 3rem;
    font-weight: 900;
}


.run-subtitle {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}


.run-man-image-container img {
    border-radius: 18px;
    width: 366px;
    height: 312px;
}


.bmi-calculate-section {
    height: 487px;
    /* width: 99vw; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 50px 100px;
    background: rgb(34, 34, 34);
}

.bmi-calculator-chart-container,
.bmi-calculator-form-container {
    /* border: 2px solid red; */
    width: 85%;

}



.bmi-calculator-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bmi-calculator-subtitle {

    font-size: .90rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.bmi-calculator-table table {
    border-radius: 8px;
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}


th,
td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    text-align: left;
    font-size: 1rem;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}


.bmi-calculator-form input,
.bmi-calculator-form select {
    width: 49%;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

select option {
    background: rgb(39, 39, 39);
}

.bmi-calculator-form .activity-select {
    width: 99%;
}

.bmi-calculator-form .calculate-btn {
    width: 30%;
}

.bmi-calculator-form .btn.primary-btn {
    border: none;
    outline: none;
    cursor: pointer;

}

.our-team-text-container {
    width: 671px;
    text-align: center;
    height: 120px;
    margin: 0 auto;
}

.our-team-title {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 900;
}

.our-team-subtitle {
    font-size: .87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.our-team-container {
    /* border: 2px solid red; */
    display: grid;
    border-radius: 18px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px;
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
}

.team-card {
    /* border: 2px solid rebeccapurple; */
    border-radius: 8px;
    /* text-align: center; */

}

.team-card img {
    height: 300px;
    width: 100%;
    border-radius: 18px;
}

.trainer-info {
    padding: 15px;
    margin-top: -88px;

}

.trainer-info h3 {
    /* color: white; */
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

.trainer-info p {
    /* margin: 0; */
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.footer-main-container {
    background: rgba(255, 255, 255, 0.1);
    height: 360px;

    margin-top: 100px;
}

.footer-details-container {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
}


.footer-text-container {
    width: 443px;
    height: 176px;
    width: 30%;
}

.footer-logo {
    font-size: 4.5rem;
    font-weight: 800;
}

.footer-details {
    color: rgba(255, 255, 255, 0.5);
    font-size: .86rem;
    font-weight: 400;
    width: 100%;
    margin-top: 10px;
}

.footer-items-container {
    width: 40%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.second-item-title {
    font-size: 2rem;
    font-weight: 700;
}

.footer-secnd-item ul li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    list-style: none;
    margin-top: 20px;

}

.footer-line {
    width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
}

.footer-copyright {
    /* border: 2px solid red; */
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 20px;
    /* font-size: px; */
    font-weight: 400;
}


/* width 1056 height 772 */

/* Media query for mobile devices */
@media (max-width: 576px) {
    .navul {
        display: none;
    }

    .menubar-icon {
        display: block;
    }

    .hero-section-containern {
        flex-direction: column;
        margin: 0 auto;
        width: 80vw;
    }

    .hero-content {
        /* padding: 15px; */
        margin: 0 auto;
        width: 352px;
        margin-left: -15px;
    }


    .hero-title {
        font-size: 2.5rem;
        font-weight: 900;
        width: 285px;
        height: 129px;
    }

    .hero-desc {
        margin-top: 30px;
        width: 274px;
        height: 96px;
        font-weight: 400;

    }

    .hero-box1 {
        right: 2%;
        width: 155px;
        height: 98px;
    }

    .hero-box2 {
        top: 40%;
        right: 40%;
    }

    .box1-title {
        /* border: 2px solid rebeccapurple; */
        font-size: 1.5rem;
        width: 90px;
    }

    .box1-desc {
        font-size: .86rem;
    }

    .btn {
        display: inline-block;
        width: 150px;
        font-size: 1rem;
        height: 54px;
        padding: 15px;
        text-align: center;
    }

    .habit-card-container {
        flex-direction: column;
    }

    .habit-card-box {
        margin: 20px;
    }

    .habit-title {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .run-section-container {
        flex-direction: column;
        padding: 30px;
    }

    .run-btn {
        text-align: center;
    }

    .btn-run-btn {
        width: 60%;
    }

    .run-man-image-container {
        margin-top: 33px;
    }

    .bmi-calculate-section {
        padding: 30px;
        flex-direction: column;
        height: 775px;
    }

    .bmi-calculator-chart-container,
    .bmi-calculator-form-container {
        width: 100%;
        margin-bottom: 20px;
    }


    .bmi-calculator-title {
        width: 300px;
        font-size: 1.2rem;
    }

    .bmi-calculator-table table {

        border-radius: 8px;
        width: 265px;
    }

    .our-team-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        /* margin: 10px; */
        /* margin: 0 auto; */
    }

    .trainer-info h3 {
        font-size: 1rem;
    }

    .trainer-info p {
        font-size: 0.8rem;
    }

    .our-team-text-container {
        margin-top: 50px;
        width: 309px;
        height: 124px;
    }

    .our-team-title {
        font-size: 2rem;
    }

    .our-team-subtitle {
        margin-top: 10px;
    }

    .footer-details-container {
        flex-direction: column;
    }

    .footer-details {
        width: 250px;
    }

    .footer-items-container {
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
    }

    .second-item-title {
        font-size: 1.5rem;
    }

    .footer-secnd-item ul li {
        font-size: 1rem;
    }

    .secnd-item {
        margin-top: 20px;
    }

    .footer-logo {
        font-size: 3.5rem;
    }

    .footer-main-container {
        height: 710px;
    }

    .footer-copyright {
        width: auto;
        /* margin-bottom: 30px */
    }
}